<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <servlet>
  
  <servlet-name>ViewAllEmployees</servlet-name>
  <servlet-class>servlet.ViewAllEmployees</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ViewAllEmployees</servlet-name>
  <url-pattern>/ViewAllEmployees</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
  <servlet-name>ViewAllReimbursement</servlet-name>
  <servlet-class>servlet.ViewAllReimbursement</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>ViewAllReimbursement</servlet-name>
  <url-pattern>/ViewAllReimbursement</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>